.home {
  text-align: center;
  height: 100vh;
  background-image: url("/bg.png");
  background-size: cover;
}

.container {
  /* text-align: center; */
}

.login-form {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.create-account-link {
  color: black;
}

.create-account-link:hover {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .login-form {
    margin-left: 10%;
    margin-right: 10%;
  }
}
